extend layout
block content
  h1= title
  form( method="post" enctype="multipart/form-data")
    div
        div
            span Title :
            input(type="text", name="title", id="editArticleTitle")
        div
            span Body :
            textarea( name="body", rows=20, id="editArticleBody")
        div 
            span Image :
            input(type="file" name="image" id="editArticleImage")
        div#editArticleSubmit
            input(type="submit", value="Send")